<!DOCTYPE html>
<html ng-app="weatherApp">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Weather App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        

    <script src="app.js"></script>                
    <script src="indexCtrl.js"></script> 
    <script src="jsonSer.js"></script>    
    

    <!-- fontawesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
        
    <!-- my files -->
    <link rel="stylesheet" type="text/css" media="screen" href="mainCss.css" />
       
    <!-- <script src="main.js"></script> -->

</head>
<body class="bg-light" ng-controller="indexCtrl">
    
    <div class="container mt-5">
        <h1 class="display-4 text-center text-warning">Weather App</h1>
        <div class="mt-3">
            <h4 class="text-center text-primary">Enter a city name to know its' weather, for example:</h4>

            <!-- city examples: -->
            <div class="row mt-3">

                <!-- example of 1st city: -->

                <div class="col-md-6">
                    <p class="text-center">Berlin</p>
                    <p class="text-center"></p>

                    
                </div>

                <!-- example of 2nd city: -->
 
                <div class="col-md-6">
                    <p class="text-center">Chicago:</p>
                    <p class="text-center">details</p>

                    
                </div>

            </div>


            <!-- user Input -->
            <div class="mt-3">

                <input class="" type="text" placeholder="Enter a city name" ng-model="cityInput">
                <button ng-click="showCityDetails(cityInput)">Search</button>
                <p></p>
            </div>
        </div>
        <div ng-show="isCity">
            <p>{{userCity.city}}</p>
            <p>Temperature: {{userCity.temp}}</p>
            <img ng-src="{{userCity.img}}" alt="">
            <p>{{userCity.humidity}}</p>
            <p>{{userCity.wind}}</p>
            <p><a ng-href="{{userCity.link}}" target="_blank">Read More...</a></p>
        </div>
        <div ng-show="isWrong">
            <p>The city you entered is unknown, please try again...</p>
        </div>
    </div>
    <!-- <ng-view></ng-view> -->
    
    
    
</body>
</html>